---
import SimpleColumn from "./SimpleColumn.astro";
import { getSession } from '../../lib/auth-utils';
import HeaderAccount from "./HeaderAccount.astro";
import { Navigation } from "../navigation/Navigation";

// Get user session from Express auth server
const session = await getSession(Astro.request);

const user = session?.user;
const isAuthenticated = !!user;
---
<header class="l-header">
  <SimpleColumn>
    <div class="header-logo-text">
      <a href="/">TennisReserve</a>
    </div>
    <div class="header-right-wrapper">
      {isAuthenticated && (
        <HeaderAccount />
      )}
      <Navigation user={user} isAuthenticated={isAuthenticated} client:load />
    </div>
  </SimpleColumn>
</header>

<style is:global>
  .l-header {
    background-color: var(--c-main-accent);
    height: 64px;
    z-index: 50;
    position: relative;

    .simple-column {
      background-color: var(--c-main-accent);
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
      align-items: center;
    }
  }

  .header-logo-text {
    color: #fff;
    padding-left: 2px;
    font-size: 22px;
    max-width: 66%;
    line-height: 1.2;

    @media (--md) {
      font-size: 32px;
    }

    img {
      display: block;

      @media (--md) {
        width: 200px;
      }
      @media (--xsToSm) {
        width: 170px;
        height: 42px;
      }
    }
  }

  .header-right-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
  }
</style>