---
import { getSession } from '../../lib/auth-utils';

// Get user session from Express auth server
const session = await getSession(Astro.request);

const user = session?.user;
---
<div class="account">
  <a title="My account" class="avatar-item header-account-toggle" href="/account" title="My account">
    <span>{user?.name?.[0]}{user?.surname?.[0]}</span>
  </a>
</div>

<style is:global>
  .avatar-item {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--c-light-grey);
    color: var(--c-black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    position: relative;

    &:after {
      content: '';
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.2);
      transition: opacity 300ms;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
</style>