@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.hidden-tag {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

:root {
  --c-main-accent: #2c4c3b;
  --c-main-accent-darker: #182c25;
  --c-light-grey: #dfe6e9;
  --c-black: #000000;
  --c-white: #ffffff;
  --c-dark-grey: #222;

  --section-desktop-top: 48px;
  --section-desktop-side: 48px;
  --section-mobile-top: 24px;
  --section-mobile-side: 20px;
}
