---
import "../assets/main.css";
import HeroHeader from "../components/HeroHeader.astro";
import Navigation from "../components/Navigation.astro";

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} - Tennis Court Reservation` : "Tennis Court Reservation"}</title>
	</head>
	<body>
		<Navigation />
		<HeroHeader title={title} />
		<div class="main-content mt-8 pb-8">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
