{
  auto_https off
}

:8080 {
  encode gzip zstd

  @api {
    path /graphql* /api/* /create-checkout-session* /get-user-subscription /cancel-subscription /reactivate-subscription /subscription/* /verify-checkout-session /verify-payment /get-payment-details /get-user-order-history /health /maintenance
  }

  reverse_proxy @api server:9000
  reverse_proxy client:4321
}
