---
import SimpleColumn from '../components/SimpleColumn.astro';
import AccountMenu from './AccountMenu.astro';
---
<div class="main-container">
	<SimpleColumn>
		<div class="account-page">
			<AccountMenu />
      <div class="content">
			  <slot />
      </div>
		</div>
	</SimpleColumn>
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 20px;
	}

  .content {
    flex-grow: 1;
  }

	.account-page {
		display: flex;
		align-items: flex-start;
		gap: 40px;
		width: 100%;

    @media (--xsToSm) {
      flex-direction: column;
      align-items: stretch;
    }
	}

	.not-authenticated {
		text-align: center;
		padding: 40px;
	}

	h1 {
		font-size: 2.5rem;
		text-align: left;
		margin-bottom: 20px;
		color: #333;
	}

	h2 {
		font-size: 1.8rem;
		margin-bottom: 20px;
		color: #666;
	}

	.menu {
		min-width: 200px;
		flex-shrink: 0;
	}
</style>