---
import SimpleColumn from '../components/SimpleColumn.astro';

import type { GraphQLBooking, GraphQLCourt, GraphQLUser } from '../lib/graphql/.generatedTypes';
import { CourtReserve } from './court-reserve/CourtReserve';
import { getBookings, getCourts, getPlayers } from '../lib/graphql';

interface Props {
	user: any;
	session: any;
}

const { user } = Astro.props;

const bookings: GraphQLBooking[] = await getBookings();
const courts: GraphQLCourt[] = await getCourts();
const players: GraphQLUser[] = await getPlayers();
---

<div class="main-container">
	<SimpleColumn>
		<CourtReserve bookings={bookings} courts={courts} players={players} userId={user?.id} client:load />
	</SimpleColumn>
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 20px;
	}

	h1 {
		font-size: 2.5rem;
		text-align: left;
		margin-bottom: 20px;
	}
</style>
