---
import SimpleColumn from './_layout/SimpleColumn.astro';

const { subscriptionSuccess } = Astro.props;
---
<div class="main-container">
	<SimpleColumn>
		{subscriptionSuccess && (
			<div role="alert" class="alert alert-success mb-6">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<span>Your subscription is confirmed. Please confirm your email address to activate your subscription.</span>
			</div>
		)}
	</SimpleColumn>
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 20px;
	}

	h1 {
		font-size: 2.5rem;
		text-align: left;
		margin-bottom: 20px;
	}
</style>
