---
import SimpleColumn from "./SimpleColumn.astro";
import Navigation from "./Navigation.astro";
import { auth } from '../../../server/auth';

// Get user session from better-auth
const session = await auth.api.getSession({
  headers: Astro.request.headers
});

const user = session?.user;
const isAuthenticated = !!user;
---
<header class="l-header">
  <SimpleColumn>
    <div class="header-logo-text">
      <a href="/">TennisReserve</a>
    </div>
    <div class="header-right-wrapper">
      {isAuthenticated && (
        <a href="/account" title="My account" class="avatar-item">
          <span>{user?.name?.[0]}{user?.surname?.[0]}</span>
        </a>
      )}
      <div class="header-mobile-trigger">
        <button
          type="button"
          class="navbar-toggle header__menu__button"
          aria-label="Ouvrir le menu"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <Navigation />
  </SimpleColumn>
</header>

<style is:global>
  .l-header {
    background-color: var(--c-main-accent);
    height: 64px;
    z-index: 50;
    position: relative;

    .simple-column {
      background-color: var(--c-main-accent);
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
      align-items: center;
    }
  }

  .header-logo-text {
    color: #fff;
    padding-left: 2px;
    font-size: 22px;
    max-width: 66%;
    line-height: 1.2;

    @media (--md) {
      font-size: 32px;
    }

    img {
      display: block;

      @media (--md) {
        width: 200px;
      }
      @media (--xsToSm) {
        width: 170px;
        height: 42px;
      }
    }
  }

  .header-right-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
  }

  .navbar-toggle {
    position: relative;
    padding: 9px 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-image: none;
    transition: background 300ms;
    display: inline-block;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    .icon-bar {
      display: block;
      width: 30px;
      height: 2px;
      border-radius: 1px;
      background-color: var(--c-light-grey);
      & + .icon-bar {
        margin-top: 8px;
      }
    }
  }

  .avatar-item {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--c-light-grey);
    color: var(--c-black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
  }
</style>