---
import SimpleColumn from '../components/SimpleColumn.astro';
---
<div class="main-container">
	<SimpleColumn>
		<main>
			<section id="hero">
				<h1>
					Home - Réserver un terrain de tennis
				</h1>
				<p>Tennis reservation made easy.</p>
			</section>
		</main>
	</SimpleColumn>
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 20px;
	}

	h1 {
		font-size: 2.5rem;
		text-align: left;
		margin-bottom: 20px;
	}
</style>
