---
import SimpleColumn from '../components/SimpleColumn.astro';

import type { GraphQLPage } from '../lib/graphql/.generatedTypes';
import { getPage } from '../lib/graphql';

const page: GraphQLPage = await getPage('home');
---
<div class="main-container">
	<SimpleColumn>
		<main>
			<section id="hero">
				<h1>
					{page.title}
				</h1>
				<p>{page.description}</p>
			</section>
		</main>
	</SimpleColumn>
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 20px;
	}

	h1 {
		font-size: 2.5rem;
		text-align: left;
		margin-bottom: 20px;
	}
</style>
